body{
    margin:0;
    border:1px;
    display:flex;
    flex-direction: column;
}
.container{
    flex:auto;
    display:flex;
    flex-wrap:wrap;
}
.childDiv{
    padding:0px;
    margin:0px;
    flex:none;
}

button{
    flex:none;
}

